html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


.exgrid_Layout {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto;
    width: 650px;
}

.exgrid_Item {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: 3px solid lightgray;
    padding: 10px 5px 10px 5px;
}

.viewTable {
    border-radius: 7px;
    display: block;

}

viewTable th  viewTable td {
    text-align: left;
    padding: 4px 4px 4px 4px;
    border-color: #020921;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 2px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background: #15559a;
    color: white;
}

.viewTable:nth-child(1) th {
    background-color: #13375f;
    color: white;
}

.tableStyle {
    border-radius: 7px;
    display: block;
}

 th td{
        text-align: left;
        padding: 4px 4px 4px 4px;
        border-color: #020921;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 2px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        background: #15559a;
        color: white;
            
}

.tradeOptionsGrd {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 650px;
}

.exgrid_Item {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: 3px solid lightgray;
    padding: 10px 5px 10px 5px;
}

.alinkB {
    color: white;
    border-color: #fd6e39;
    background-color: #0f70cc;
    border-radius: 9px;
    padding: 5px 1px 5px 1px;
    border: thick;
    margin: 0px 0px 0px 0px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-decoration: none;
}

    .alinkB:active {
        background-color: #0f70cc;
        color: white;
    }

    .alinkB:hover {
        background-color: #42bd66;
        color: white;
    }

.alink {
    color: #0e59a0;
    padding: 5px 1px 5px 1px;
    border: thick;
    margin: 0px 0px 0px 0px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-decoration: none;
}

    .alink:active {
       /* background-color: #0f70cc;*/
        color: black;
    }

    .alink:hover {
       /* background-color: #42bd66;*/
        color: black;
    }

.bttn {
    color: white;
    border-color: #fd6e39;
    background-color: #0f70cc;
    border-radius: 9px;
    padding: 2px 3px;
    border: thick;
    margin: 0px 0px 0px 0px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-decoration: none;
}

    .bttn:active {
        background-color: #0f70cc;
        color: #d35627;
    }

    .bttn:hover {
        background-color: #42bd66;
        color: white;
    }


.mainpage-main {
    height:100vh;
}

.app-logo {
    width: 90px;
    height: 90px;
}

.newCardContainer {
    display:grid;
    grid-template-rows: 50px 100px;
    border: solid;
    border-width: 2.5px;
    border-radius:16px;
    border-color: #b7f6c9;
    box-shadow: 2px 4px 1px #88c3fa;
    width: 175px;
    height: 180px;
    margin-bottom: 20px;

}

.newCardName {
    font-family: Garamond, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: bold;
/*    border: double;
    border-color: #c35050;
    border-radius: 10px;*/
}

.newCardTier {
    padding: 20px 5px 20px 5px;
    text-align: center;
 /*   border: double;
    border-color: #4da5f7;
    border-radius: 10px;*/
    font-family: Garamond, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 5px 5px 5px;
}

.newCardInfo {
    font-family: Garamond, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 5px 5px 5px;
    text-align: center
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.tblHeaderD{
    background: #42bd66;
    color: white;
}

.wrapper {
    height: 75vh;
    overflow-y: scroll;


}

.wrapperT {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardDisplay{
    display : grid;
    grid-template-columns: 198px 198px 198px;

}

.cardDisplayI{

}

.CardSetGrid{
    display : grid;
    grid-template-columns : auto auto;
}

.leftSet{
    border-right : thin;
    border-color : black;
}

.rightSet{
    border-left :  thin;
}


.wrapperGrid {
    display: flex;
    border: thin;
    /*    justify-content: center;
    align-items: center;
    text-align: center;*/
}