/* Styles for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd; 
}

    /* Style for the logo image */
    header img {
        max-width: 150px; /* Adjust the max-width as needed */
        height: auto;
    }

.btn-head {
    display: flex;
}

    .btn-head a {
        margin-left: 10px; /* Adjust the spacing between buttons */
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
    }


.btn-primary {
    background-color: #007bff;
    color: white;
    background-image: url('/images/Tier2.PNG'); 
    background-size: cover; 
}

.btn-success {
    background-color: #28a745;
    color: white;
    background-image: url('/images/Tier2.png'); /* Replace with your image path */
    background-size: cover; /* Adjust the image size */
}
.btn-danger{
    background-color: #28a745;
    color: white;
    background-image: url('/images/Tier3.png'); /* Replace with your image path */
    background-size: cover; /* Adjust the image size */
}



/* Hover effect for buttons */
.btn-head a:hover {
    opacity: 0.8;
}