@model StackSwapApplication.Models.Card
@{
    ViewBag.Title = "Find By Card Name";
}

@using (Html.BeginForm("GetCardByTierPost", "TradingCards"))
{
    <p>
        Find card by Tier: @Html.TextBox("tier")
    </p>

    <input type="submit" value="Search" />


}

