@model StackSwapApplication.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
}

<h1>Register</h1>

@{
    try
    {
        if(TempData["Error"] != null){

            <script>swal("StackSwap", "Incorrect Username/Password!", "Error");</script>
        }
    }
    catch (Exception)
    {
        <label style="color:red">An error Occured</label>
        
    }
}
<form method="post" asp-controller="User" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>


    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>



    <div>
        <input type="submit" value="Login" />
    </div>

</form>
